<section id='navbar'>

  <div id='navlogo'>
    <%= image_tag("lily.jpg") %>
  </div>


  <div>

    Email <br>
    password<br>

    <form action="http://toothandclaw.herokuapp.com">
      <input type="submit" value="Go to Google" />
    </form>
  </div><br>

  <div>
    <a href="/pages/:1">register</a>
  </div><br>

  <div>
    Cart (0)$0.00<br>
    Checkout
  </div><br>

  <div>
    Deals
  </div><br>

  <div>
    Products
  </div><br>

  <div>
    Animal Information
  </div><br>

  <div>
    About
  </div><br>

  <div>
    Help
  </div><br>

  <div id='copyright'>
    copyright ToothandClaw 2017
  </div>

</section>