
 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <title>title</title>
  </head>
  <body>

<%= render "navbar.html.erb" %>

<section id="mainview">

  <section id="indexsalesection">

    <% $i = 0

    while $i<5 do %>

    <div class="productcard">
      <div class="productcardimage">
        image link
      </div>
      <div class="productcardprice">
        <del>$2.99</del> $2.35(-18%)
      </div>
      <div class="productcardrating">
        4.<%=$i%>/5 ****
      </div>
      <div class="productcardtags">
        Tags: cat. food. chicken.
      </div>
    </div>

   <% $i += 1
   end %>

    <div id="indexsalesbanner">
      Today's spicy specials
    </div>
  </section>

  <section id="indextopsection">

    <div id="indextopbanner">
      this weeks hot items
    </div>

    <% $i = 0

    while $i<10 do %>

    <div class="productcard">
      <div class="productcardimage">
        image link
      </div>
      <div class="productcardprice">
        $2.99
      </div>
      <div class="productcardrating">
        4.<%=$i%>/5 ****
      </div>
      <div class="productcardtags">
        Tags: cat. food. chicken.
      </div>
    </div>

   <% $i += 1
   end %>

  </section>

</section>

























    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
