
 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/home.css">
    <title>title</title>
  </head>
  <body>

<%= render "navbar.html.erb" %>

<section id="mainview">
  <h1>we did it live!</h1>

  <h2>tamara is sexy</h2>

  <div id='colourtest'>noooooooo</div>




























    </section>
  </body>
</html>
