/*body start*/

#mainview {
    position: absolute;
    left: 0;
    top: 7%;
    bottom: 0;
    right: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

#indexsalesection {
  height: 48%;
  width: 91.5%;
  overflow-x: scroll;
  white-space: nowrap;
}

#indextopsection {
  height: 48%;
  width: 100%;
}

#indexsalesbanner {
  height: 10%;
  position: absolute;
  width: 31%;
  font-size: 29pt;
  left: 3%;
}

#indextopbanner {
    text-align: center;
    border-top: 1px solid #cccccc;
}

/*body end*/


/*navbar start*/

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 93%;
  right: 0;
  background-color: bisque;
  border-bottom: 1px solid;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  z-index: 3;
}

#copyright {
  font-size: 8px;
}


#navlogo {
  position: fixed;
  top: 0.5%;
  left: 7.5%;
  right: 72%;
  bottom: 93.5%;
}

#navlogo img {
  width: 100%;
  height: 100%;
}

#navbar #navusersection {
  border-left: 1px solid;
  font-size: 10pt;
  margin-bottom: 0;
  position: fixed;
  left: 80%;
  top: 0;
  bottom: 93%;
  right: 0;
  padding-left: 1%;
}

#navbar .btn-secondary {
  background-color: bisque;
  border: none;
  color: chocolate;
}

a#cartbutton {
  position: fixed;
  left: 88%;
  top: 0.5%;
}

a#loginbutton {
  position: fixed;
  left: 82%;
  top: 0.5%;
}

a#shopbutton {
  position: fixed;
  left: 35%;
  top: 0.5%;
}

a#catsbutton {
  position: fixed;
  left: 42%;
  top: 0.5%;
}

a#dogsbutton {
  position: fixed;
  left: 49%;
  top: 0.5%;
}

a#aboutbutton {
  position: fixed;
  left: 56%;
  top: 0.5%;
}

a#helpbutton {
  position: fixed;
  left: 63%;
  top: 0.5%;
}

#navbar .btn-secondary:hover {
  background-color: black;
}

#currentuser {
  position: fixed;
  top: 1.75%;
}
#copyright {
  position: fixed;
  bottom: 0.25%;
  right: 0.25%;
}
/*navbar end*/

/*product card start*/
.productcard {
  margin-top: 1%;
  margin-left: 3vw;
  width: 15vw;
  height: 69%;
  display: inline-block;
}

.productcardimage {
  height: 55%;
  width: 100%;
}

.productcardimage img {
  width: 100%;
  height: 100%;
}

.productcardprice {
  width: 100%;
  font-size: 10pt;
}

.productcardrating {
  width: 100%;
  font-size: 8pt;
}

.productcardtags {
  width: 100%;
  font-size: 8pt;
}
/*product card end*/