/*body start*/

#mainview {
    position: absolute;
    left: 20%;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

#indexsalesection {
  height: 48%;
  width: 100%;
}

#indextopsection {
  height: 48%;
  width: 100%;
}

#indexsalesbanner {
    height: 10%;
    position: absolute;
    top: 36.5%;
    width: 50%;
    font-size: 29pt;
    background-color: dodgerblue;
    color: bisque;
    left: 25%;
    text-align: center;
}

#indextopbanner {
    text-align: center;
    border-top: 1px solid #cccccc;
}

/*body end*/


/*navbar start*/

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: bisque;
  border: 1px solid;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

#copyright {
  font-size: 8px;
}

#navbar div {
  margin-bottom: 2%;
}

#navusersection {
  margin-top: 2%;
}

#navusersection div {
  position: absolute;
}

#navlogo {
  height: 20%;
  width: 100%;
}

#navlogo img {
  width: 105%;
  height: 100%;
  position: relative;
  left: -5%;
  border-bottom: 1px solid;
}

#navbar #navusersection {
  border-bottom: 1px solid;
  font-size: 10pt;
  height: 20%;
  margin-bottom: 0;
}

#navusersection input {
  width: 65%;
  margin-top: 1%;
  position: absolute;
  left: 33%;
}

#newusertitle {
  margin-top: -1%;
}

#loginemail {
  margin-top: 3%;
}

#loginpassword {
  margin-top: 6%;
}

input#password {
  margin-top: 5%;
}

input#loginbutton {
  left: 69%;
  margin-top: 9%;
  width: 30%;
}

#logintitle {
  margin-bottom: 3%;
  border-bottom: 1px solid;
}

#register {
  border-top: 1px solid;
  top: 15%;
  width: 100%;
  padding-top: 4%;
}

#navbar #register .btn-secondary {
  position: relative;;
  left: 24%;
  margin-top: -3%;
  padding: 0;
}

#navbar .btn-secondary {
  background-color: bisque;
  border: none;
  margin-left: 5%;
  margin-top: 4%;
  color: chocolate;
}

#navbar .btn-secondary:hover {
  background-color: black;

}

#copyright {
  position: absolute;
  bottom: -1%;
  left: 56%;
}
/*navbar end*/

/*product card start*/
.productcard {
  margin-top: 1%;
  margin-left: 2.95%;
  border: 3px solid;
  width: 16.5%;
  height: 69%;
  float: left;
}

.productcardimage {
  height: 55%;
  width: 100%;
  border-bottom: 1px solid;
}

.productcardprice {
  width: 100%;
  border-bottom: 1px solid;
}

.productcardrating {
  width: 100%;
  border-bottom: 1px solid;
}

.productcardtags {
  width: 100%;
  font-size: 10pt;
}
/*product card end*/